{% extends "rwc23/base.html" %}

{% load static %}
{% load humanize %}

{% block web-body %}

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">

            <h4>Password Reset Success</h4>

            <hr>

            <div class="db-form">

                <p>Your password has been reset. Click <a href="{% url 'rwc23:login' %}">Login</a>
            
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Related Links</h4>
            <p>
                 <a href="{% url 'rwc23:password_reset' %}">Forgot Password?</a> <br>
                <a href="{% url 'rwc23:signup' %}">Sign Up</a> <br>
            </p>
        </div>

    </div>

{% endblock %}