{% extends "rwc23/base.html" %}

{% load static %}
{% load humanize %}

{% block web-body %}

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">

            <h4>Enter your new password.</h4>
            <hr>
            {% if validlink %} 
 {% comment %}               <form action="{% url 'rwc23:password_reset_complete' %}" method="post"> {% endcomment %}
                    <form action="" method="post">
                    <table>
                        {% csrf_token %}
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-primary">Reset Password</button></td>
                        </tr>
                    </table>
                </form>
            {% else %}
                <p>This Link is no longer valid. Click <a href="{% url 'rwc23:password_reset' %}">here</a> to create a new one.</p>
            {% endif %}

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Related Links</h4>
            <p>
                <a href="{% url 'rwc23:password_reset' %}">Forgot Password?</a> <br>
                <a href="{% url 'rwc23:signup' %}">Sign Up.</a> <br>
                <a href="#">Feedback</a>
            </p>
        </div>

    </div>

{% endblock %}