{% extends "rwc23/base.html" %}

{% block title %}
Openwater swimmers RWC 2023 competition
{% endblock %}

{% block web-body %}
<h1>About</h1>
<ul>
    <li>It's a competition to predict the scores of the Rugby World Cup 2023 games.</li>
    <li>There is a separate 'competition' for each week of the round robin part of Rugby World Cup, and for the quarter finals, semi-finals and finals.</li>
    <li>You need to try and predict the winner and by how much for <b>every</b> game in the round.</li>
    <li>It's a bit of fun.</li>
</ul>
<h1>Rules</h1>
<ol>
    <li>You must be an open-water swimmer on Auckland North shore, or be associated with one. 
        Basically if you know Jo, Alton, Jim, Geoff or Helen you are in.</li>
    <li>The game will be a series of mini-competitions, one a week. The first 5 are weeks 1 - 5 of the round robin competition.
        The next 3 will be the quarter finals, semi finals & then the final.</li>
    <li>$5 to enter each week. Based on feedback we may increase the entry to $10 for the last few weeks.</li>
    <li>Predictions must be provided on this website or via via the Open Water swimming social WhatsApp group. </li>
    <li>Entries must be received before the start of each game.</li>
    <li>People who have paid (or pledged their entry fee), but forget to post their predicted score, or choose not to post a predicted score, 
        will be assigned 0 points.</li>
    <li>Jo is the treasurer and will collect entry payments & pay out any prizes.</li>

</ol>
<h1>Scoring</h1>
    <ol>
        <li>You must pick the winning team, or a draw, to get any points for that game.</li>
        <li>If you don't get your pick in before the game starts you don't get any points</li>
        <li>If you pick a draw (and get t right) you get 25 points (bonus for being brave).</li>
        <li>Your score is then based on points differential. The closer your selection is to the game score the more points you get.</li>
    </ol>
    <i>
        <p><b>Example</b></p>
        <p>You chose New Zealand by 12, The All Blacks won by 5, and so the difference between your prediction & the actual score is 7.
        Based on the table below you would get 13 points for that game.
        </p>
    </i>

    <table id="pointsTable">
    <tr>
        <th>Difference</th>
        <th>Points</th>
        <th>Comments</th>
    </tr>
        <tr><td>0</td><td>20</td><td>You got the points differential exactly right</td>
    </tr>
    <tr><td>1</td><td>19</td></tr>
    <tr><td>2</td><td>18</td></tr>
    <tr><td>3</td><td>17</td></tr>
    <tr><td>4</td><td>16</td></tr>
    <tr><td>5</td><td>15</td></tr>
    <tr><td>6</td><td>14</td></tr>
    <tr><td>7</td><td>13</td></tr>
    <tr><td>8</td><td>12</td></tr>
    <tr><td>9</td><td>11</td></tr>
    <tr><td>10</td><td>10</td></tr>
    <tr><td>11</td><td>9</td></tr>
    <tr><td>12</td><td>8</td></tr>
    <tr><td>13</td><td>7</td></tr>
    <tr><td>14</td><td>6</td></tr>
    <tr><td>15 or more</td><td>5</td><td>Everyone who picks the winner right gets at least 5 points</td></tr>
    </table>

    <h1>Prizes</h1>
    <ul>
        <li>All entries for each round will be paid to the winner of the round.</li>
        <li>The prize for each round will be split if there is a tie for 1st place.</li>
    </ul>

    <h1>Judging</h1>
<ul>
<li>Jim West and Jo ‘Frau’ Hammer are the  administrators, and nominally the judges, and their decision is final.</li></li>
</ul>
    <span id="node_cancel_button" class="cancel_button">
        <a href="{% url 'rwc23:index' %}" class="btn btn-link btn-outline-warning" role="button">Home</a>
    </span>
 
{% endblock %}