{% extends "rwc23/base.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Openwater swimmers RWC 2023 competition
{% endblock %}

{% block web-body %}

<div id="picks">
  <h1>My picks</h1>
  <h2>{{ currRound.Name }}</h2>
    {% if currPredictions %}
      <table id="mypicks">
        <tr>
          <th>Game</th>
          <th>Score</th>
          <th>Selection</th>
          <th>Points</th>
        </tr>
      {% for pick in currPredictions %}
        <tr>
          <td><a href="{% url 'rwc23:gameView' pick.game.id %}">{{ pick.game }}</a></td>
          {% if pick.game.finished %}
            <td>{{ pick.game.score1}} : {{ pick.game.score2}}</td>
          {% else %}
            <td></td>
          {% endif %}
          <td>
            {% if pick.result == 0 %}
              No selection
            {% elif pick.result == 1%}
              {{ pick.game.Team1.teamID }} by {{ pick.spread }}
            {% elif pick.result == 2%}
              {{ pick.game.Team2.teamID }} by {{ pick.spread }}
            {% else %}
              DRAW
            {% endif %}
          </td>
          {% if pick.game.finished %}
            <td><a href="{% url 'rwc23:pointsView' pick.id %}" class="pointsLinkDark">{{ pick.points|floatformat }}</a></td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
    {% else %}
      No Predictions
    {% endif %}
  </div>
  <span id="pick_update_button" class="warning_button">
     <a href="{% url 'rwc23:pickUpdate' currRound.id %}" class="btn btn-link btn-warning" role="button">Change my picks</a> 
    {% comment %}<a href="{% url 'rwc23:pickUpdate' %}" class="btn btn-link btn-warning" role="button">Change my picks</a>{% endcomment %}
  </span>
  <div id="players">
  <p>
  </p>
  <h1>Leader board</h1>
  <table id="mypicks">
    <tr>
      <th>Player</th>
      <th>Points</th>
    </tr>
    
    {% for player in playerList%}
    <tr>
       <td><a href="{% url 'rwc23:playerDets' player.player.id %}" class="pointsLinkDark">{{ player.player.first_name|title }} {{ player.player.last_name|title }}</a></td>
       <td>{{ player.totalPoints|floatformat }}</td>
    </tr>
    {% endfor %}
 
  </div>
 
{% endblock %}