{% extends "rwc23/base.html" %}

{% block title %}
Game Info
{% endblock %}

{% comment %}
This page displays the game information and the player picks for the game.
{% endcomment %}

{% block web-body %}
<div class="rwc_background">
  <div id="node-header"><h3>Game information</h3></div>
    <div id="node_detail" class="content_block">
      <div id="node_det_table">
        {% if user.is_staff %}
          <span id="node_cancel_button" class="cancel_button">
            <a href="{% url 'rwc23:gameEdit' game.id %}" class="btn btn-link btn-outline-warning" role="button">Edit player picks</a>
          </span>
        {% endif %}
        {% if user.username == 'jim' %}
          <span id="node_cancel_button" class="cancel_button">
            <a href="{% url 'rwc23:email_results' game.id %}" class="btn btn-link btn-outline-warning" role="button">Email results</a>
          </span>
        {% endif %}
        <table>
          <tr>
            <th>{{ game.Round.Name }}</th>
            <th>{{ game.Team1 }} v {{ game.Team2 }}</th>
          <tr>
            <td>Date</td>
            <td>{{ game.gamedate }}</td>
          </tr>

          <tr>
            <td>{{ game.Team1 }} score</td>
            <td>{{ game.score1 }}</td>
          </tr>
          <tr>
            <td>{{ game.Team2 }} score</td>
            <td>{{ game.score2 }}</td>
          </tr>
          <tr>
            {% if game.finished %}
            <td>Finished</td>
            {% else %}
            <td></td>
            {% endif %}
          </tr>
         
        </table>
        <h2>Player picks</h2>
        <table  id="mypicks">
            <tr>
                <th>Player</th>
                <th>Their selection</th>
                {% if game.finished %}
                  <th>Points</th>
                {% endif %}
            </tr>
          {% for pick in picks %}
            {% if not pick.player.is_admin %}
            <tr>
              <td>{{ pick.playerRound.player.first_name|title}} {{ pick.playerRound.player.last_name|title}}</td>
              {% if pick.result == 0 %}
                <td>No Selection</td>
              {% elif pick.result == 3 %}
                <td>DRAW</td>
              {% elif pick.result == 1 %}
                <td>{{ pick.game.Team1.teamID }} win by {{ pick.spread }}</td>
              {% elif pick.result == 2 %}
                <td>{{ pick.game.Team2.teamID }} win by {{ pick.spread }}</td>
              {% endif %}

              {% if game.finished %}
                <td><a href="{% url 'rwc23:pointsView' pick.id %}" class="pointsLink">{{ pick.points|floatformat }}</a></td>
              {% endif %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>
        <span id="node_cancel_button" class="cancel_button">
          <a href="{% url 'rwc23:index' %}" class="btn btn-link btn-outline-warning" role="button">Cancel</a>
        </span>
    </div>
  </div>
 
</div>
{% endblock %}