{% extends "rwc23/base.html" %}

{% block title %}
Make your picks
{% endblock %}
 
{% block web-body %}
<div class="rwc_background"> 
  <div id="node-header"><h3>Update Predictions</h3></div>
    <div id="node_detail" class="content_block">
      <div id="node_det_table">
        <form action="{% url 'rwc23:pickUpdate' currRound.id %}" method="POST">

          {% csrf_token %}
          {{ formset.management_form }}
          {{ gForm.non_field_errors}}

          <h2>Update your picks</h2>
          <table class='formtable'>
            {% for form in formset %}
              <tr>
                <td class='formtable'>{{ form.instance.game }}</td>
                <td class='formtable'>{{ form.result }}</td>
                <td class='formtable'>{{ form.spread }}</td>               
                <td>{{ form.id }}</td>
              </tr>
              {% endfor %}
            </table>
        <input type="submit" value="Submit">
        <span id="node_cancel_button" class="cancel_button">
          <a href="{% url 'rwc23:index'  %}" class="btn btn-link btn-outline-warning" role="button">Cancel</a>
        </span>
      </form>
      {% if pastPreds %}
      <h3>Past Predictions</h3>
      <table>
        <tr>
          <th>Match</th>
          <th>Scores</th>
          <th>Result</th>
          <th>Your selection</th>
          <th>Your Points</th>
        </tr>
        {% for pred in pastPreds %}
          <tr>
            <td>{{pred.game}}</td>
            <td>{{pred.game.score1}} : {{pred.game.score2}}</td>
            <td>{{pred.game.resText}}</td>
            <td>{{pred.resText}}</td>
            <td>{{pred.points}}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}


    </div>
  </div>

</div>
{% endblock %}