{% extends "rwc23/base.html" %}

{% block title %}
Game Info
{% endblock %}

{% comment %}
This page displays the game information and the player predictions for the game.
{% endcomment %}

{% block web-body %}
<div class="rwc_background">
  <div id="node-header"><h3>Points information</h3></div>
    <div id="node_detail" class="content_block">
      <div id="node_det_table">
        <table>
          <tr>
            <td>Player</td>
            <td>{{ prediction.playerRound.player.first_name|title }} {{ prediction.playerRound.player.last_name|title }}</td>
          </tr>
          <tr>
            <td>Game</td>
            <td>{{ prediction.game }}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{ prediction.game.gamedate }}</td>
          </tr>
          <tr>
            {% if prediction.game.finished %}
              <td>Game has finished</td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        </table>
        <table id="mypredictions">
          <tr>
            <th>Game</th>
          </tr>

          <tr>
            <td>{{ game_res }}</td>
            <td>{{ player_choice }}</td>
            {% if prediction.result %}
              <td>Points calcluated below</td>
            {% else %}
              {% if prediction.nopredictions %}
                <td>No predictions entered, gets game average</td>
              {% else %}
                <td>Wrong result, gets worst of scores from players who got it right</td>
              {% endif %}
            {% endif %}
          </tr>

          <tr>
              <td>Game spread: {{ gameSpread }}</td>
              <td>Player spread: {{ mySpread }}</td>
            </tr>
                         
        </table>
        <h2>Points calculation</h2>
          

              <table  id="mypredictions">
              {% if prediction.result %}
                <tr>
                  <td>Half the difference to the winners score:</td>
                  <td>{{ win_diff }}</td>
                </tr>
                <tr>
                  <td>Spread differential:</td>
                  <td>{{ spread }}</td>
                </tr>
                <tr>
                  <td>Bonus for getting the winning teams score:</td>
                  <td>{{ nBonus }}</td>
                </tr>
                {% else %}
                  {% if prediction.nopredictions %}
                    <tr>
                      <td>No selection, gets game average:</td>
                      <td>{{ prediction.game.average }}</td>
                    </tr>
                  {% else %}
                  <tr>
                      <td>Wrong result, gets worst score of correct predictions:</td>
                      <td>{{ prediction.game.high_point }}</td>
                    </tr>
                  {% endif %}
                {% endif %}
            

          </table>
        <span id="node_cancel_button" class="cancel_button">
          <a href="{% url 'rwc23:about' %}" class="btn btn-link btn-outline-warning" role="button">Rules and scoring system</a>
        </span>
        <span id="node_cancel_button" class="cancel_button">
          <a href="{% url 'rwc23:index' %}" class="btn btn-link btn-outline-warning" role="button">Home</a>
        </span>
    </div>
  </div>
 
</div>
{% endblock %}