{% extends "rwc19/base.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Openwater swimmers RWC 2019 competition
{% endblock %}

{% block web-body %}

<div id="picks">
  <h1>My picks</h1>
    {% if user.profile.prediction_set.all %}
      {% for pick in user.profile.prediction_set.all %}
        {{ pick.game }}
      {% endfor %}
    {% else %}
      No Predictions
    {% endif %}
  </div>
  <a href="{% url 'rwc19:pickUpdate' %}">Change my picks</a>
  <div id="players">
  <h1>Player List</h1>
    {% if playerList %}
      <div class="list-group">
      {% for player in playerList%}
         <p>{{ player.user.username }} - Points {{ player.totalPoints }}</p>
      {% endfor %}
      </div>
    {% else %}
      <p>No players yet!</p>>
    {% endif %}
  </div>
 
{% endblock %}