{% extends "rwc19/base.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Openwater swimmers RWC 2019 competition
{% endblock %}

{% block web-body %}

<div id="picks">
  <h1>My picks</h1>
    {% if user.is_staff %} Is staff {% endif %}
    {% if user.profile.prediction_set.all %}
      <table>
        <tr>
          <th>Game</th>
          <th> </th>
          <th>Result</th>
          <th>Your selection</th>
        </tr>
      {% for pick in user.profile.prediction_set.all %}
        <tr>
          {% if user.is_staff %}
            <td><a href="{% url 'rwc19:gameEdit' pick.game.id %}">{{ pick.game }}</a></td>
          {% else %}
            <td>{{ pick.game }}</td>
          {% endif %}
        {% if pick.game.finished %}
          <td>Finished</td><td>{{ pick.game.score1}} : {{ pick.game.score2}}</td>
        {% else %}
          <td></td><td></td>
        {% endif %}
        <td>{{ pick.score1}} : {{ pick.score2}}</td>
      </tr>
      {% endfor %}
      </table>
    {% else %}
      No Predictions
    {% endif %}
  </div>
  <a href="{% url 'rwc19:pickUpdate' %}">Change my picks</a>
  <div id="players">
  <h1>Player List</h1>
    {% if playerList %}
      <div class="list-group">
      {% for player in playerList%}
         <p><a href="{% url 'rwc19:playerDets' player.user.id %}">{{ player.user.username }}</a> - Points {{ player.totalPoints }}</p>
      {% endfor %}
      </div>
    {% else %}
      <p>No players yet!</p>>
    {% endif %}
  </div>
 
{% endblock %}