{% extends "rwc19/base.html" %}

{% block title %}
Player info and picks
{% endblock %}

{% block web-body %}
<div class="rwc_background">
  <div id="player-header"><h3>Player info</h3></div>
    <div id="player_detail" class="content_block">
      <div id="player_det_table">
        {{ player.user.username}}
          
          <table>
          {% for pick in picks %}
            <tr>
              <td>{{ pick.textname}}</td>
              <td>{{ pick.score1 }} :</td>
              <td>{{ pick.score2 }}</td>
            </tr>
            {% endfor %}
          </table>
        <span id="node_cancel_button" class="cancel_button">
          <a href="{% url 'rwc19:index' %}" class="btn btn-link btn-outline-warning" role="button">Home</a>
        </span>
    </div>
  </div>
 
</div>
{% endblock %}